<a href="https://colab.research.google.com/github/gitlogopolis/ciencia-de-datos/blob/main/2_Filtrar_datos_en_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
from google.colab import files
 
 
uploaded = files.upload()

Saving 2008-3.csv to 2008-3.csv

In [4]:
df = pd.read_csv("2008-3.csv")

In [5]:
df['ArrDelay'].head() #Muestra los primeros datos de la columna "Arrdelay"

0   -14.0
1     2.0
2    14.0
3    -6.0
4    34.0
Name: ArrDelay, dtype: float64

In [6]:
df[100:110]  #Muestra un rango de datos de la fila 100 a la 110

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
100,2008,1,3,4,826.0,825,930.0,925,WN,136,...,2.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
101,2008,1,3,4,2118.0,2015,2224.0,2115,WN,219,...,3.0,17.0,0,NaN,0,17.0,0.0,6.0,0.0,46.0
102,2008,1,3,4,1818.0,1740,1916.0,1840,WN,391,...,2.0,10.0,0,NaN,0,20.0,0.0,0.0,0.0,16.0
103,2008,1,3,4,650.0,650,748.0,750,WN,670,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
104,2008,1,3,4,2146.0,2055,2250.0,2155,WN,815,...,3.0,13.0,0,NaN,0,4.0,0.0,4.0,0.0,47.0
105,2008,1,3,4,2241.0,1910,2340.0,2010,WN,1072,...,3.0,13.0,0,NaN,0,114.0,0.0,0.0,0.0,96.0
106,2008,1,3,4,1409.0,1355,1513.0,1500,WN,1328,...,2.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
107,2008,1,3,4,1100.0,1050,1157.0,1155,WN,1586,...,2.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
108,2008,1,3,4,1306.0,1250,1406.0,1355,WN,1838,...,2.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
109,2008,1,3,4,1726.0,1630,1832.0,1740,WN,2284,...,2.0,18.0,0,NaN,0,1.0,0.0,0.0,0.0,51.0

In [7]:
df[df["ArrDelay"] > 60].head() #Muestra vuelos retrasados mas de 60 secs

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,362,...,6.0,7.0,0,NaN,0,5.0,0.0,0.0,0.0,59.0
37,2008,1,3,4,1812.0,1650,1927.0,1815,WN,422,...,6.0,11.0,0,NaN,0,3.0,0.0,0.0,0.0,69.0
49,2008,1,3,4,2245.0,1730,2354.0,1850,WN,186,...,3.0,7.0,0,NaN,0,282.0,0.0,0.0,0.0,22.0
77,2008,1,3,4,958.0,900,1052.0,950,WN,1574,...,4.0,14.0,0,NaN,0,0.0,0.0,4.0,0.0,58.0

In [8]:
df[(df["Origin"] == "ATL") & (df["ArrDelay"] > 60)].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
109189,2008,1,31,4,1217.0,1210,1511.0,1335,XE,2023,...,21.0,60.0,0,NaN,0,0.0,0.0,96.0,0.0,0.0
110375,2008,1,19,6,1241.0,1215,1735.0,1437,XE,1284,...,12.0,178.0,0,NaN,0,0.0,0.0,164.0,0.0,14.0
121229,2008,1,3,4,1421.0,1200,1526.0,1325,XE,2132,...,9.0,13.0,0,NaN,0,17.0,0.0,0.0,0.0,104.0
132768,2008,1,6,7,1315.0,1130,1410.0,1240,YV,7267,...,3.0,6.0,0,NaN,0,0.0,0.0,90.0,0.0,0.0
133549,2008,1,7,1,2040.0,1800,2156.0,1932,YV,2626,...,12.0,28.0,0,NaN,0,144.0,0.0,0.0,0.0,0.0

In [9]:
df[df.Origin.isin(["HOU","ATL"])].head() #Muestra los primeros 5 registros con valores en la columna Origin de HOU y ATL

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3269,2008,1,4,5,1910.0,1910,2025.0,2025,WN,823,...,6.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3270,2008,1,4,5,1345.0,1345,1453.0,1500,WN,901,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3271,2008,1,4,5,736.0,735,839.0,850,WN,957,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3272,2008,1,4,5,1603.0,1550,1647.0,1635,WN,231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3273,2008,1,4,5,2105.0,2105,2151.0,2150,WN,570,...,7.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [10]:
df[pd.isna(df["ArrDelay"])].head() #Muestra las primeras 5 registros donde no hay datos en la columna ArrDelay

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN

In [11]:
len(df[pd.isna(df["ArrDelay"])]) #retorna el numero de filas donde no hay registros en la columna ArrDelay

16367