<a href="https://colab.research.google.com/github/gitlogopolis/ciencia-de-datos/blob/main/3_Transformaciones_de_las_bases_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
 
 
uploaded = files.upload()

Saving 2008-3.csv to 2008-3.csv

In [ ]:
df = pd.read_csv("2008-3.csv")

In [ ]:
df["HoursDelay"] = round(df["ArrDelay"]/60) #Crear nueva columna

In [ ]:
df["HoursDelay"].head()

0   -0.0
1    0.0
2    0.0
3   -0.0
4    1.0
Name: HoursDelay, dtype: float64

In [ ]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-0.0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-0.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0,1.0

In [ ]:
del(df["HoursDelay"]) #Borra una columna del DataFrame

In [ ]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [ ]:
df.drop(["Diverted", "Cancelled", "Year"], axis=1) #Borra varias columnas

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,...,TPA,810,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,TPA,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,BWI,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,BWI,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,BWI,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499994,1,30,3,1331.0,1330,1937.0,1905,AA,1144,N435AA,...,DFW,1464,57.0,11.0,NaN,0.0,0.0,32.0,0.0,0.0
499995,1,31,4,1429.0,1330,1946.0,1900,AA,1144,N4XLAA,...,DFW,1464,14.0,11.0,NaN,0.0,0.0,24.0,0.0,22.0
499996,1,1,2,1223.0,1125,1453.0,1350,AA,1145,N208AA,...,SLC,1249,4.0,17.0,NaN,0.0,24.0,5.0,0.0,34.0
499997,1,2,3,1150.0,1125,1408.0,1350,AA,1145,N583AA,...,SLC,1249,2.0,14.0,NaN,17.0,0.0,0.0,0.0,1.0
499998,1,3,4,1122.0,1125,1338.0,1350,AA,1145,N578AA,...,SLC,1249,2.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = df.drop(["Diverted", "Cancelled", "Year"], axis=1)   #Borra varias columnas

In [ ]:
df.drop(["Diverted", "Cancelled", "Year"], axis=1, inplace=True)

In [ ]:
df.head()

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,...,TPA,810,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,TPA,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,BWI,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,BWI,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,BWI,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0

In [ ]:
df.drop(0) #Elimina la fila 0

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,TPA,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,BWI,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,BWI,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,BWI,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0
5,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,...,JAX,688,4.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499994,1,30,3,1331.0,1330,1937.0,1905,AA,1144,N435AA,...,DFW,1464,57.0,11.0,NaN,0.0,0.0,32.0,0.0,0.0
499995,1,31,4,1429.0,1330,1946.0,1900,AA,1144,N4XLAA,...,DFW,1464,14.0,11.0,NaN,0.0,0.0,24.0,0.0,22.0
499996,1,1,2,1223.0,1125,1453.0,1350,AA,1145,N208AA,...,SLC,1249,4.0,17.0,NaN,0.0,24.0,5.0,0.0,34.0
499997,1,2,3,1150.0,1125,1408.0,1350,AA,1145,N583AA,...,SLC,1249,2.0,14.0,NaN,17.0,0.0,0.0,0.0,1.0
499998,1,3,4,1122.0,1125,1338.0,1350,AA,1145,N578AA,...,SLC,1249,2.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.drop(range(0,10000)) #Elimina un rango de filas

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
10000,1,6,7,1244.0,1245,1405.0,1405,WN,776,N720WN,...,SFO,337,3.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
10001,1,6,7,1547.0,1455,1655.0,1600,WN,173,N350SW,...,SJC,308,4.0,6.0,NaN,21.0,0.0,3.0,0.0,31.0
10002,1,6,7,1601.0,1525,1711.0,1630,WN,232,N642WN,...,SJC,308,3.0,8.0,NaN,7.0,0.0,5.0,0.0,29.0
10003,1,6,7,2046.0,2000,2156.0,2105,WN,343,N360SW,...,SJC,308,5.0,6.0,NaN,0.0,0.0,22.0,0.0,29.0
10004,1,6,7,1137.0,1130,1241.0,1235,WN,769,N242WN,...,SJC,308,4.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499994,1,30,3,1331.0,1330,1937.0,1905,AA,1144,N435AA,...,DFW,1464,57.0,11.0,NaN,0.0,0.0,32.0,0.0,0.0
499995,1,31,4,1429.0,1330,1946.0,1900,AA,1144,N4XLAA,...,DFW,1464,14.0,11.0,NaN,0.0,0.0,24.0,0.0,22.0
499996,1,1,2,1223.0,1125,1453.0,1350,AA,1145,N208AA,...,SLC,1249,4.0,17.0,NaN,0.0,24.0,5.0,0.0,34.0
499997,1,2,3,1150.0,1125,1408.0,1350,AA,1145,N583AA,...,SLC,1249,2.0,14.0,NaN,17.0,0.0,0.0,0.0,1.0
499998,1,3,4,1122.0,1125,1338.0,1350,AA,1145,N578AA,...,SLC,1249,2.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dfATL = df[df.Origin == "ATL"]
dfHOU = df[df.Origin == "HOU"]

In [ ]:
newdf = dfATL.append(dfHOU)

In [ ]:
newdf =  pd.concat([dfATL, dfHOU])

In [ ]:
newdf.head()

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
103149,1,21,1,1207.0,1210,1346.0,1335,XE,2349,N14573,...,IAH,689,11.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
103572,1,12,6,1458.0,1500,1622.0,1620,XE,2145,N13969,...,IAH,689,6.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
104019,1,20,7,1403.0,1330,1625.0,1608,XE,1284,N16151,...,EWR,745,6.0,32.0,NaN,0.0,0.0,17.0,0.0,0.0
104124,1,26,6,1629.0,1630,1832.0,1902,XE,1241,N13964,...,EWR,745,9.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN
104485,1,4,5,1336.0,1340,1501.0,1500,XE,2112,N16976,...,IAH,689,12.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
len(newdf)

32080